* {
    text-align: center;
    font-family:'Courier New', Courier, monospace
}

body {
    background: radial-gradient(#286a6c 10%, #ff914d 30%, #ffde59 50%, #ffbd59 40%,  #d3dfe1 30%, #94c8d2 60%, #1b1f14 70%);
    background-repeat: no-repeat;
    color: white;
    font-weight: bolder;
}