* {
    background-color: bisque;
    color: black;
}

html{
    border: 2px solid black;
    margin: 5px;
}

header {
    border: 2px solid gray;
    float: left;
    width: 30%;
}

nva {
    border: 2px solid black;
}

#logo {
    width: 350px;
    height: 300px;
    margin-top: 5px;
}