html {
    background-color: bisque;
}

body {
    border: 2px solid black;
}

header {
    border: 2px solid black;
    width: 30%;
    margin: 5px;
}

img {
    width: 100%;
    height: auto;
    margin-top: -75px;
}

nav {
    text-align: center;
    margin: 10px;
    width: auto;
}

nav a {
    text-decoration: none;
}
